<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/table.css">
    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.pager.js"></script>
    @RenderSection("scripts", false)
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div role="navigation">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("All Ads", "List1_AllAds", new { Controller = "AdData" })</li>
                    <li>@Html.ActionLink("Cover Ads", "List2_CoverAds", new { Controller = "AdData" })</li>
                    <li>@Html.ActionLink("Top 5 Ads by Coverage & Brand", "List3_Top5AdsByCoverageAndBrand", new { Controller = "AdData" })</li>
                    <li>@Html.ActionLink("Top 5 Brands by Coverage", "List4_TopBrandsByCoverage", new { Controller = "AdData" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
